<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<style>
		body {
			margin: 0px 35px 0px 35px;
		}
	</style>

	<% if flash[:errors] %>
		<% flash[:errors].each do |e|  %>
		<p style="color: red"><%= e %></p>
		<% end %>
	<% end %>


<nav class="navbar navbar-default">
 	<div class="container-fluid">
   		<div class="navbar-header">
      		<a class="navbar-brand" href="/events">QUIK EVENTS</a>
    	</div>
    	<div>
      		<ul class="nav navbar-nav">
       			<li class="active">
					<% if current_user %>
					<a href="/users/<%= current_user.id %>"><button class="btn btn-primary">Edit Profile</button></a>	
					<% end %>
		        </li>
		        <li class="active">
		        	<% if current_user %>
					<form action="/sessions" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="_method" value="delete">
					<button class="btn btn-danger" style="margin-top:15px">Log Out</button>
					</form>
					<% end %>
		        </li>
		    </ul>
    	</div>
 	 </div>
</nav>






<%= yield %>
</div>
</body>
</html>
